<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/update.css">
</head>
<body>
    <div id="back">
        <img src="../images/yelhead.png" alt=""> 
        <div id="container">
            <h1>Please write your thoughts here :</h1>
            <form id="frm" action="<%=/save/+post._id%>"  method="POST">
                <textarea name="post"><%=post.post%></textarea>
            </form>
            <img id="img" src="../images/btn.png" alt="">            
        </div>
    </div>
    <script>
        document.querySelector('#img').addEventListener('click',()=>{
        document.querySelector('#frm').submit();
        })
    </script>
</body>
</html>